<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="TCSS445_Final_Project.Properties.Settings.Schmitz_Bob_dbConnectionString"
            connectionString="Data Source=localhost\TCSS445;Initial Catalog=Schmitz_Bob_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>